<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context-4.2.xsd
                            http://jax-ws.dev.java.net/spring/core
                            http://jax-ws.dev.java.net/spring/core.xsd
                            http://jax-ws.dev.java.net/spring/servlet
                            http://jax-ws.dev.java.net/spring/servlet.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/aop">

    <!-- 引入属性文件 -->
    <context:property-placeholder location="classpath:config.properties" />

    <!--配置数据源-本地化配置方式，不能走数据中间件的方式 -->
    <!-- destroy-method=”close”的作用就是当数据库连接不使用的时候,就把该连接重新放到数据池中,方便下次使用调用.很关键的一个元素。 -->
    <bean name="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="jdbcUrl" value="${jdbc_url}" />
        <property name="user" value="${jdbc_username}" />
        <property name="password" value="${jdbc_password}" />
        <property name="driverClass" value="${driver_class_name}" />
        <property name="initialPoolSize" value="1" /> <!-- 初始化连接大小 -->
        <property name="maxPoolSize" value="20" /><!-- 连接池最大使用连接数量 -->
        <property name="idleConnectionTestPeriod" value="20" /><!-- 连接池最大空闲 -->
        <property name="minPoolSize" value="10" /> <!-- 连接池最小空闲 -->
        <property name="checkoutTimeout" value="1000" /><!-- 获取连接最大等待时间 -->
        <property name="acquireIncrement" value="3"/>
        <property name="acquireRetryAttempts" value="30"/>
        <property name="automaticTestTable" value="dual" />
        <property name="breakAfterAcquireFailure" value="false" />
        <property name="autoCommitOnClose" value="true" />
        <property name="testConnectionOnCheckin" value="true" />
        <property name="acquireRetryDelay" value="1000" /><!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
        <property name="maxIdleTime" value="60" />  <!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
    </bean>

    <!--jdbcService服务对象-->
    <bean id="appJdbcService" class="com.sinobest.framework.utils.JdbcService">
        <property name="dataSource" ref="dataSource" />
        <property name="lobHandler" ref="appDefLobHandler" />
    </bean>

    <!-- 大对象处理器  -->
    <bean id="appDefLobHandler" class="org.springframework.jdbc.support.lob.DefaultLobHandler" />
</beans>
